.search-books {
  position: absolute;
  top: 15px;
  right: 45px;
  width: 500px;
}
.search-books--form {
}
.search-books--loading {
  position: absolute;
  top: 20px;
  right: 55px;
}
.search-books--form .form-group {
  margin: 0 0 0 0;
  
}
.input {
  height: 35px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  border-color: transparent;
}

.books-list {
  overflow-y: scroll;
  height: auto;
  max-height: 400px;
  background-color: #ffffff;
  border-radius: 8px;
}
.book {
  width: 480px;
  margin-top: 10px
;
}