.search-books {
  position: absolute;
  top: 15px;
  right: 45px;
  width: 500px;
}
.search-books--form {
}
.search-books--loading {
  position: absolute;
  top: 20px;
  right: 55px;
  color: #907ad2;
}
.search-books--form .form-group {
  margin: 0 0 0 0;
  
}
.input {
  height: 35px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  border-color: transparent;
  background-image: url("search-icon.png");
  background-size: 22px;
  background-position: 5px;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 35px;
  color: #5930dc;
  font-family: Arial;
}

.books-list {
  overflow-y: scroll;
  height: auto;
  max-height: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  scrollbar-color: #907ad2 rgb(219, 219, 222);
  scrollbar-width: thin;
}
.book {
  width: 480px;
  margin-top: 10px
;
}