main {
  min-height: 90vh;
  background-color: rgba(244, 244, 248, 0.8);
}
#app-header {

}
.page {
  padding-top: 3em;
  padding-bottom: 3em;
}
#app-footer {
  text-align: center;
  background-color: #e8e8ee;
  padding: 30px 0;
}